/* very global settings */
body {
	font-family: Arial;
}

/* just the main output area */
#wrapper {
}

/* the header */
#header {
	background-color: #6495ED;
	border: 1px solid #000000;
	margin: 0px;
}

/* the title, part of the header */
#title {
	color: #191970;
	font-size: xx-large;
	font-weight: bold;
	position: relative;
	left: 50px;
	bottom: 50px;
}

/* sidepanel */
#sidepanel {
	width: 180px;
	border: 1px solid #000000;
	background-color: #6495ED;
	margin: 0px;
	float: left;
	position: relative;
	top: 10px;
}

/* sidepanel buttons */
/*#sp-buttons {
	margin: 0px;
	width: 180px;
	background-color: #6495ED;
}*/

/* sidepanel list style */
#sp-buttons ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
	border: none;
}

/* sidepanel list item */
#sp-buttons li {
	border-bottom: 1px solid #90BADE;
	margin: 0px;
}

/* sidepanel last list item */
#sp-buttons li.last {
	border-bottom: none;
}

/* nice sidepanel links */
#sp-buttons a {
	display: block;
	padding: 5px 15px 5px 15px;
	color: #191970;
	text-decoration: none;
}

/* javascript is dead! */
#sp-buttons a:hover {
	background-color: #00008B;
	color: #ffffff;
}

/* the content pane */
#content {
	margin-left: 200px;
	margin-top: 10px;
	width: auto;
}

/* paragraph style */
#content p {
	margin: 1em 3em 1em 3em;
}

/* subtitle */
#subtitle {
}

/* subtitle - the text */
#subtitle h1 {
	margin: 0px;
	//margin-bottom: 10pt;
}

#subtitlehint {
	padding-left: 10px;
	font-size: small;
	font-weight: normal;
	margin-bottom: 1em;
}

h2, h3 {
	margin: 0px;
}

table.score,
table.controls {
	border: 0px;
}

table.score td {
	border: 0px;
}

#labels {
	margin-top: 5px;
}

div.label,
div.widelabel {
	padding-top: 3px;
}

div.submit {
	padding-left: 10.5em;
}

#notice {
	margin-top: 10px;
	color: red;
	text-align: center;
	width: 100%;
}

div.label div,
div.widelabel div {
	text-align: right;
	float: left;
	width: 10em;
	padding-right: 5px;
}

div.widelabel div {
	width: 12em;
}

/* no border around images */
img {
	border: none;
}

img.leftimage {
	float: left;
}

img.rightimage {
	float:right;
}

table {
	border: thin solid black;
	border-collapse: collapse;
	margin-bottom: 10px;
}

table.stats {
	font-size: small;
}

th, td {
	border: thin solid black;
	text-align: center;
	padding: 5px;
}

#copyright {
	border: none;
	text-align: center;
	font-size: 10pt;
	color: #AAAAAA;
	margin-top: 1em;
}
